/**/


/*
	CONTENT
*/

html,
body,
#app {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #42afe3;
}

header {
    position: fixed !important;
    top: 0px;
    width: 100%;
    background-color: #42afe3 !important;
}

header div.nav-left > div.nav-item.animated {
    position: absolute;
    left: 0px;
    height: 100%;
}

header div.nav-right > div.nav-item.animated {
    position: absolute;
    right: 0px;
}

footer {
    position: fixed;
    width: 7rem;
    bottom: 0px;
    z-index: 9;
    text-align: center;
}

footer div.content {
    padding: 7px 10px;
}

footer p {
    line-height: 125%;
}

footer a {
    border: none !important;
}

.body {
    margin-top: 7.5rem;
}


/*
	ITEM
*/

.item-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.item-row > img {
    width: 245px;
    height: 342px;
}

.item-row > div {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 1rem;
}

.item-row table {
    background-color: inherit;
    color: white;
}

.item-row table tr:hover {
    background-color: inherit;
    color: inherit;
}

.item-row table td:nth-child(2),
.item-row table td:nth-child(2) p {
    font-weight: bolder;
}


/*
	AUTOCOMPLETE
*/

.autocomplete-wrapper {
    position: absolute;
    background-color: #42afe3;
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-color: white;
    border: 1px solid white;
}

.autocomplete-item {
    height: 6rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0px !important;
}

#autocomplete_item {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#autocomplete_item:hover {
    background-color: #58b8e6;
}

#autocomplete_item:active {
    background-color: #1c89bd;
}

.autocomplete-item:hover {
    background-color: #58b8e6 !important;
}

.autocomplete-item:focus {
    background-color: #85cbed !important;
    border: 1px solid white;
    outline: none;
}

.autocomplete-item:active {
    background-color: #1c89bd !important;
}

.autocomplete-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.autocomplete-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.autocomplete-wrapper::-webkit-scrollbar-thumb {
    background-color: white;
}

.autocomplete-table-header {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.autocomplete-table-header-opacity {
    opacity: 0;
}

.autocomplete-table-header > div:nth-child(1) {
    max-width: 5.5rem;
}

.autocomplete-table-header > div:nth-child(2) {
    padding-right: 2.5rem;
}

.autocomplete-table {
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.autocomplete-table th,
.autocomplete-table tr {
    border: none;
    color: white !important;
}

.autocomplete-table td {
    font-size: 125%;
}

.autocomplete-table tr:hover {
    background-color: inherit;
}

.autocomplete-table td:nth-child(1) > p {
    font-size: 66%;
    line-height: 100%;
}

.autocomplete-highlight {
    color: #fce473;
}


/*
	AUTOCOMPLETE PROG
*/

.autocomplete-prog {
    width: 25%;
    height: 0.5rem;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    background-color: #f5f7fa;
    will-change: transform, opacity;
}

@keyframes autocomplete-success {
    0% {
        transform: translate3d(300%, 0, 0) scaleX(1);
    }
    100% {
        transform: translate3d(150%, 0, 0) scaleX(4);
    }
}

.autocomplete-success {
    background-color: #97cd76;
    animation-name: autocomplete-success;
    opacity: 0;
    animation-duration: 1s;
    transition: opacity 1s ease-in;
}

@keyframes autocomplete-error {
    0% {
        opacity: 1;
        transform: translate3d(300%, 0, 0) scaleX(1);
    }
    75% {
        opacity: 1;
        transform: translate3d(150%, 0, 0) scaleX(4);
    }
}

.autocomplete-error {
    background-color: #ed6c63;
    animation-name: autocomplete-error;
    opacity: 0;
    animation-duration: 1s;
    transition: opacity 1s ease-in;
}

@keyframes autocomplete-progging {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(300%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.autocomplete-progging {
    animation-iteration-count: infinite;
    animation-name: autocomplete-progging;
    opacity: 1;
    animation-duration: 2s;
}


/*
	SIDE MENU
*/


/*aside.menu {
    position: absolute;
    top: 5rem;
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.menu-list a {
    color: #69707a;
}

.menu-list a:hover {
    background-color: #f5f7fa;
    color: #1fc8db;
}

.menu-list a.is-active {
    background-color: #1fc8db;
    color: white;
}

.menu-list li ul {
    border-left: 1px solid #d3d6db;
}

.menu-label {
    color: #aeb1b5;
}*/


/*
	ANIMATIONS
*/

.animated-t025 {
    -webkit-animation-duration: 0.25s !important;
    animation-duration: 0.25s !important;
}

.animated-t05 {
    -webkit-animation-duration: 0.5s !important;
    animation-duration: 0.5s !important;
}

.animated-t1 {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
}

.animateNone {
    display: none !important;
}


/*
	MISC
*/

.t-black {
    color: #111 !important;
}

.t-grey-darker {
    color: #222324 !important;
}

.t-grey-dark {
    color: #69707a !important;
}

.t-grey {
    color: #aeb1b5 !important;
}

.t-grey-light {
    color: #d3d6db !important;
}

.t-grey-lighter {
    color: #f5f7fa !important;
}

.t-white {
    color: #fff !important;
}

.t-blue {
    color: #42afe3 !important;
}

.t-green {
    color: #97cd76 !important;
}

.t-orange {
    color: #f68b39 !important;
}

.t-purple {
    color: #847bb9 !important;
}

.t-red {
    color: #ed6c63 !important;
}

.t-turquoise {
    color: #1fc8db !important;
}

.t-yellow {
    color: #fce473 !important;
}

.t-75 {
    font-size: 75% !important;
}

.t-100 {
    font-size: 100% !important;
}

.t-125 {
    font-size: 125% !important;
}

.t-150 {
    font-size: 150% !important;
}

.t-175 {
    font-size: 175% !important;
}

.t-200 {
    font-size: 200% !important;
}

.t-250 {
    font-size: 250% !important;
}

.t-300 {
    font-size: 300% !important;
}

.t-bold {
    font-weight: 400 !important;
}

.t-bolder {
    font-weight: 600 !important;
}

.t-under {
    text-decoration: underline !important;
}

.t-italic {
    font-style: italic !important;
}

.t-left {
    text-align: left !important;
}

.t-center {
    text-align: center !important;
}

.t-right {
    text-align: right !important;
}

.t-normal {
    text-decoration: none !important;
    font-weight: initial !important;
    font-style: normal !important;
}

.marg-0 {
    margin: 0px !important;
}

.marg-0-x {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.marg-0-y {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pad-0 {
    padding: 0px !important;
}

.pad-0-x {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pad-0-y {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.bg-white {
    background-color: white !important;
}

.bg-orange {
    background-color: #f68b39 !important;
}

.outline-0 {
    outline: none !important;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.pointer {
    cursor: pointer;
}

footer a {
    color: #42afe3 !important;
}

footer a:visited {
    color: #42afe3 !important;
}


/*
	MOAR ANIMATIONS
*/

@keyframes route-swap-in {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes route-swap-out {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.route-swap-transition {
    animation-duration: 0.5s;
}

.route-swap-enter {
    animation-name: route-swap-in;
}

.route-swap-leave {
    animation-name: route-swap-out;
}

@keyframes swap-in {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes swap-out {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.swap-transition {
    transform-origin: 50% 0%;
    animation-duration: 0.5s;
}

.swap-enter {
    animation-name: swap-in;
}

.swap-leave {
    animation-name: swap-out;
}

.control.has-icon > i.ion-icon,
.button > span.icon > i.ion-icon,
.button > i.ion-icon {
    font-size: 115%;
    margin-right: 0.5rem;
}

.control.has-icon > i.ion-icon {
    font-size: 220% !important;
}

.button > span.icon.icon-only {
    margin-left: 0px;
}


/*










































*/

